<header>
    <nav class="navbar">
        <h2>I am the head(er).</h2>
        <p>link to splash page</p>
        <p>link to all pets</p>
        <p>link to cats</p>
        <p>link to dogs</p>
    </nav>
</header>