<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/head.ejs %>
</head>
<body>
    <div class="container-fluid">
        <% include template/header.ejs %>

        <h2><%=pageTitle %></h2>
        
        <p><%= pageBody %></p>

        <% if (pagePhotos.length > 0) { %>
            <% for (var i = 0; i < pagePhotos.length; i++) { %>
                <img src='images/<%= pagePhotos[i]%>'>
            <% } %>
        <% } %>

        <% include template/footer.ejs %>

        <% include scripts.ejs %>
    </div>
</body>
</html>