<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/head.ejs %>
</head>
<body>
    <div class="container-fluid">
        <% include template/header.ejs %>

    <!-- content starts -->
        <h2>Cavalcade of (Pet) Stars presents:</h2> <!--< name %> -->
        <p>
            <!-- < description %> -->
        </p>
        <% if (pagePhotos.length > 0) { %>
            <% for (var i = 0; i < pagePhotos.length; i++) { %>
                <img src='images/<%= pagePhotos[i]%>'>
            <% } %>
        <% } %>


        <% include template/footer.ejs %>
        
        <% include scripts.ejs %>
    </div>
    
</body>
</html>